.inputBox {
  display: flex;
  justify-content: center;
  height: 20px;
}
h1 {
  display: flex;
  justify-content: center;
}
.todoCard {
  width: 200px;
  height: 200px;
  border: 5px solid green;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.todoContainer {
  padding: 100px;
  display: flex;
  gap: 12px;
}
